<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>Walking Skeleton</title>
  </head>
  <body>
    <div id="navbar"></div>

    <div class="container">
      <div class="jumbotron">
        <h1>Walking skeleton</h1>
      </div>
      <div class="row-fluid">
        <div class="span9" id="app">

        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">@Developed by <a href="http://ar.linkedin.com/pub/german-goldenstein/6/361/69a">Germán Goldenstein</a></p>
      </div>
    </footer>

    <!-- scripts and styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}

    <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.min.js"></script>
    {% script "/js/app.js" %}
    {% script "/js/functions.js" %}
    {% script "/js/openpgp.min.js" %}
  </body>
</html>




